<div class="cartBox">
    <!-- <h1 class="text-danger">{{'cart.shopping_cart' | translate }}</h1> -->
    <button type="button" class="btn btn-primary mt-3 mb-3" routerLink="/addProduct">Add Product</button>


    <table class="table table-light ">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>{{'cart.name' |translate}}</th>
                <th>{{'cart.price' |translate}}</th>
                <th class="w-25"> {{'cart.category' |translate}}</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i=index ">
                <td><img src="{{item.image}}" alt=""></td>
                <td class="text-start">{{item.title}}</td>
                <td>{{item.price}} L.E</td>
                <td>{{item.category}} </td>

                <td>
                    <button class="btn btn-danger" (click)="deleteProduct(i)">{{'cart.delete' |translate}}</button>
                </td>
            </tr>
            <tr *ngIf="products.length == 0">
                <td colspan="6"> No Data</td>

            </tr>

        </tbody>
    </table>

</div>