<div class="container-lg mt-5">

    <h1 class="text-danger mb-5">{{'cart.shopping_cart' | translate }}</h1>
    <form class="form-group" [formGroup]="formGroup">
        <div class="row">
            <div class="col-5">


                <!-- Name -->
                <div class="form-group mb-4">
                    <label class=" mb-2 text-primary fw-bold" for="title">{{'cart.name'|translate}}</label>
                    <input type="text" class="form-control" formControlName="title" id="title"
                        placeholder="Enter Your Product Name " [ngClass]="{
                        'is-valid':getControlByName('title')?.valid && getControlByName('title')?.dirty,
                        'is-invalid':getControlByName('title')?.invalid && getControlByName('title')?.touched
                    }">
                    <small class="text-danger"
                        *ngIf="getControlByName('title')?.invalid && getControlByName('title')?.touched">field is
                        required</small>
                </div>




                <!-- Price -->
                <div class="form-group mb-4">
                    <label class=" mb-2 text-primary fw-bold" for="price">{{'cart.price'|translate}}</label>
                    <input type="number" class="form-control" formControlName="price" id="price"
                        placeholder="Enter Your Product Price " [ngClass]="{
                            'is-valid':getControlByName('price')?.valid && getControlByName('price')?.dirty,
                            'is-invalid':getControlByName('price')?.invalid && getControlByName('price')?.touched
                        }">
                    <small class="text-danger"
                        *ngIf="getControlByName('price')?.invalid && getControlByName('price')?.touched">field is
                        required</small>
                </div>

                <!-- Category -->
                <div class="form-group mb-4">
                    <label for="category" class=" mb-2 text-primary fw-bold">{{'cart.category'|translate}}</label>

                    <select placeholder="Select Your Product Category " #valueCategory class="form-control"
                        id="category" (change)="selectedCategory($event)" [ngClass]="{
                        'is-valid':getControlByName('category')?.valid && getControlByName('category')?.dirty,
                        'is-invalid':getControlByName('category')?.invalid && getControlByName('category')?.touched
                    }  " formControlName="category">
                        <option selected value="">All</option>
                        <option *ngFor="let category of categories; index as i" value="{{category}}">{{category}}
                        </option>
                        Select Your Product Category
                    </select>
                    <!-- <app-select-input class=" mb-2 text-primary fw-bold" formControlName="category"

                        [listData]="categories" [title]="'Categories'" (selectedValue)="selectedCategory($event)"
                        [ngClass]="{
                            'is-valid':getControlByName('category')?.valid && getControlByName('category')?.dirty,
                            'is-invalid':getControlByName('category')?.invalid && getControlByName('category')?.touched
                        }"></app-select-input> -->
                    <small class="text-danger" *ngIf="getControlByName('category')?.value =='all'">field is
                        required</small>

                </div>


                <!-- <button type=" submit" class="btn btn-primary mt-5">Submit</button> -->

            </div>
            <div class="col-1"></div>
            <div class="col-5">

                <div class="form-group mb-4">
                    <label for="description" class=" mb-2 text-primary fw-bold">{{'cart.description'|translate}}</label>
                    <textarea class="form-control" formControlName="description"
                        placeholder="Enter Your Product Description" id="description" rows="4" [ngClass]="{
                            'is-valid':getControlByName('description')?.valid && getControlByName('description')?.dirty,
                            'is-invalid':getControlByName('description')?.invalid && getControlByName('description')?.touched
                        }"></textarea>
                    <small class="text-danger"
                        *ngIf="getControlByName('description')?.invalid && getControlByName('description')?.touched">field
                        is required</small>

                </div>

                <div class="form-group mb-4">
                    <label class="mb-2 text-primary fw-bold" for="exampleFormControlFile1">Upload Image</label><br>
                    <input type="file" accept="image/*" formControlName="image" class="form-control-file" id="imgUpload"
                        hidden />



                    <small class="text-danger"
                        *ngIf="getControlByName('image')?.invalid && getControlByName('image')?.touched">field
                        is required</small>
                </div>

                <!-- <div class="upload-img"> -->
                <!-- Image Preview -->

                <app-spinner *ngIf="isLoadingg"> </app-spinner>
                <div class="imagePreview"><!--  *ngIf="(imageURL && imageURL !== '')&&!isLoadingg" -->
                    <img class="imagePreview rounded-circle col-1 " style="height:100px ; width:100px"
                        [src]="(getControlByName('image')?.value||'../../../../../assets/images/profile-avatar.png')">
                    <label for="imgUpload" class="imgUpload bg-primary text-white rounded-circle p-2">
                        <i class="fas fa-camera"></i>
                    </label>
                </div>
                <!-- </div> -->




            </div>
            <div class=" mt-5 col-3 mx-auto mb-5">

                <button [disabled]="formGroup.invalid" type="submit"
                    class="btn btn-primary d-flex justify-content-center align-items-center  col-12 mx-auto"
                    (click)="submit()">
                    <div class="spinner-border text-light col-12 mx-auto " *ngIf="isLoading" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h5 *ngIf="!isLoading">Submit</h5>
                </button>

            </div>
        </div>
    </form>
</div>